Django==2.2
# Pillow==8.0.1
pytz==2020.4
sqlparse==0.4.1
# setupstools
djangorestframework==3.12.1

asgiref==3.3.1
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
# cryptography==3.2.1
# cryptography
defusedxml==0.6.0
django-allauth==0.44.0
django-rest-auth==0.9.5
idna==2.10
oauthlib==3.1.0
# Pillow==8.0.1
pycparser==2.20
PyJWT==1.7.1
python3-openid==3.2.0
requests==2.25.0
requests-oauthlib==1.3.0
six==1.15.0
urllib3==1.26.2


# certifi==2019.3.9
# chardet==3.0.4
confusable-homoglyphs==3.2.0
# defusedxml==0.5.0
# Django==2.1.7
# django-allauth==0.39.1
django-crispy-forms==1.7.2
django-registration==3.0
# django-rest-auth==0.9.3
django-webpack-loader==0.6.0
# djangorestframework==3.9.2
# idna==2.8
# oauthlib==3.0.1
# python3-openid==3.1.0
# pytz==2018.9
# requests==2.21.0
# requests-oauthlib==1.2.0
# six==1.12.0
# urllib3==1.24.1
