<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Question Time</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <style>
  html, body {
    height: 100%;
    font-family: 'Playfair Display', "Microsoft JhengHei", sans-serif;

  }

  .login-form-container {
    width: 300px;
    margin: auto;
  }

  .registration-form-container {
    width: 400px;
    margin: auto;
  }

  .outer-area {
    margin-top: 100px;
  }

  .auth-box{
    border: 3px solid lightgrey;
    border-radius: 10px;
    padding: 25px 0;
    width: 600px;
    margin: auto;

  }
  </style>

</head>


<body>
<div class="mt-5">
  <div class="auth-box text-center">
    {% block content %}
    {% endblock %}
  </div>

</div>


</body>
</html>